<% include partials/header.ejs %> 

<h1>Insertar cliente</h1>

<ul>
	<% if (errors){ %>
	<% errors.forEach( function(error) { %>
		<li><%=error.msg %> </li>
	<% }) %>
	<% } %>
</ul>


<form method="POST" action="/users/add" id="form">
	<label>Nombre</label>
	<input type="text" name="first_name">
	<br>
	<label>Apellido</label>
	<input type="text" name="last_name">
	<br>
	<label>Email</label>
	<input type="text" name="email">
	<br>
	 <input type="submit" value="Enviar" name="submit">
</form>

<% if (!errors) { %>
<h1><%=title %></h1>
<ul>
<%  users.forEach( function(user) { %>
<li><%=user.first_name %> <%= user.last_name%> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a> - <a href="#" id="editUser" data-user="<%= user %>">Edit</a></li>
<% }) } %>
</ul>


<% include partials/footer.ejs %>

